<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">  
    <title>Python Web IDE</title>
</head>
<body class="light-body" onload="document.querySelector('h1.title').focus();">
    <header class="light-banner header-container" id="banner">
        <h1 class="title">Python Web <abbr title="Integrated Development Environment" aria-label="Integrated Development Environment">IDE</abbr></h1>
        <button class="light-menu-btn menu-btn" id="menu-btn" onclick="show_menu()">
            <label for="menu-btn">Menu</label>
            <i class="fas fa-bars" style="font-size: 32px"></i>
        </button>
    </header>

    <aside class="light-menu menu" id="menu">
        <div class="menu-header">
            <div class="menu-top-btns">
                <button class="light-close-menu-btn close-menu-btn" id="close-menu-btn" onclick="hide_menu()" tabindex="-1">
                    <label for="close-menu-btn">Hide</label>
                    <i class="fas fa-times" style="font-size: 32px;"></i>
                </button>
                <button class="light-reset-btn reset-btn" id="reset-btn" onclick="reset_settings()" tabindex="-1">
                    <label for="reset-btn">Reset</label>
                    <i class="fas fa-redo" style="font-size: 32px;"></i>
                </button>
            </div>
            <h2 class="menu-header">Accessibility Settings</h2>
        </div>

        <div class="font-input-container">
            <div>
                <label for="font-input" class="label">Font Size</label>
                <input type="range" class="light-font-input font-input" id="font-input" value="20" min="12" max="48" step="2" oninput="change_font_size(this.value)" tabindex="-1">
            </div>
            <output class="font-output" id="font-size-output">20</output>
        </div>

        <!-- <div>
            <label for="page-theme" class="label">Website Theme</label>
            <div class="page-theme" id="page-theme">
                <label class="theme-option" for="light-theme">Light
                    <input type="radio" id="light-theme" name="theme" value="Light" onclick="set_theme('light')" checked="checked" tabindex="-1">
                    <span class="light-checkmark checkmark"></span>
                </label>
                <label class="theme-option" for="light-contrast-theme">Light Contrast
                    <input type="radio" id="light-contrast-theme" name="theme" value="Light Contrast" onclick="set_theme('light-contrast')" tabindex="-1">
                    <span class="light-contrast-checkmark checkmark"></span>
                </label>
                <label class="theme-option" for="dark-theme">Dark
                    <input type="radio" id="dark-theme" name="theme" value="Dark" onclick="set_theme('dark')" tabindex="-1">
                    <span class="light-checkmark checkmark"></span>
                </label>
                <label class="theme-option" for="dark-contrast-theme">Dark Contrast
                    <input type="radio" id="dark-contrast-theme" name="theme" value="Dark Contrast" onclick="set_theme('dark-contrast')" tabindex="-1">
                    <span class="dark-contrast-checkmark checkmark"></span>
                </label>
            </div>
        </div> -->

        <!-- USING FIELDSET/LEGEND elements (better semantic coding) -->
        <fieldset>
            <legend>
                <label for="page-theme"  class="label">Website Theme</label>
            </legend>
            <div class="page-theme" id="page-theme">
                <label class="theme-option" for="light-theme">Light
                    <input type="radio" id="light-theme" name="theme" value="Light" onclick="set_theme('light')" checked="checked" tabindex="-1">
                    <span class="light-checkmark checkmark"></span>
                </label>
                <label class="theme-option" for="light-contrast-theme">Light Contrast
                    <input type="radio" id="light-contrast-theme" name="theme" value="Light Contrast" onclick="set_theme('light-contrast')" tabindex="-1">
                    <span class="light-contrast-checkmark checkmark"></span>
                </label>
                <label class="theme-option" for="dark-theme">Dark
                    <input type="radio" id="dark-theme" name="theme" value="Dark" onclick="set_theme('dark')" tabindex="-1">
                    <span class="light-checkmark checkmark"></span>
                </label>
                <label class="theme-option" for="dark-contrast-theme">Dark Contrast
                    <input type="radio" id="dark-contrast-theme" name="theme" value="Dark Contrast" onclick="set_theme('dark-contrast')" tabindex="-1">
                    <span class="dark-contrast-checkmark checkmark"></span>
                </label>
            </div>
        </fieldset>
        

        <div class="editor-theme">
            <label for="editor-theme" class="label">Editor Theme</label>
            <select name="editor-theme" id="editor-theme" class="editor-theme-select" onchange="change_editor_theme(this.value)" tabindex="-1">
                <optgroup label="Light Themes">
                    <option value="chrome">Chrome</option>
                    <option value="cloud_editor">Cloud Editor</option>
                    <option value="cloud9_day">Cloud9 Day</option>
                    <option value="clouds">Clouds</option>
                    <option value="crimson_editor">Crimson Editor</option>
                    <option value="dawn">Dawn</option>
                    <option value="dreamweaver">Dreamweaver</option>
                    <option value="eclipse">Eclipse</option>
                    <option value="github_light_default">GitHub Light Default</option>
                    <option value="github">GitHub</option>
                    <option value="gruvbox_light_hard">Gruvbox Light Hard</option>
                    <option value="iplastic">IPlastic</option>
                    <option value="katzenmilch">KatzenMilch</option>
                    <option value="kuroir">Kuroir</option>
                    <option value="solarized_light">Solarized Light</option>
                    <option value="sqlserver">SQL Server</option>
                    <option value="textmate" selected="selected">Textmate</option>
                    <option value="tomorrow">Tomorrow</option>
                    <option value="xcode">XCode</option>
                </optgroup>
                <optgroup label="Dark Themes">
                    <option value="ambiance">Ambiance</option>
                    <option value="chaos">Chaos</option>
                    <option value="cloud_editor_dark">Cloud Editor Dark</option>
                    <option value="cloud9_night_low_color">Cloud9 Night Low Color</option>
                    <option value="cloud9_night">Cloud9 Night</option>
                    <option value="clouds_midnight">Clouds Midnight</option>
                    <option value="cobalt">Cobalt</option>
                    <option value="dracula">Dracula</option>
                    <option value="github_dark">GitHub Dark</option>
                    <option value="gob">Green on Black</option>
                    <option value="gruvbox_dark_hard">Gruvbox Dark Hard</option>
                    <option value="gruvbox">Gruvbox</option>
                    <option value="idle_fingers">idle Fingers</option>
                    <option value="kr_theme">krTheme</option>
                    <option value="merbivore_soft">Merbivore Soft</option>
                    <option value="merbivore">Merbivore</option>
                    <option value="mono_industrial">Mono Industrial</option>
                    <option value="monokai">Monokai</option>
                    <option value="nord_dark">Nord Dark</option>
                    <option value="one_dark">One Dark</option>
                    <option value="pastel_on_dark">Pastel on Dark</option>
                    <option value="solarized_dark">Solarized Dark</option>
                    <option value="terminal">Terminal</option>
                    <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
                    <option value="tomorrow_night_bright">Tomorrow Night Bright</option>
                    <option value="tomorrow_night_eighties">Tomorrow Night Eighties</option>
                    <option value="tomorrow_night">Tomorrow Night</option>
                    <option value="twilight">Twilight</option>
                    <option value="vibrant_ink">Vibrant Ink</option>
                </optgroup>
            </select>

        </div>

    </aside>
    <div id="overlay"></div>

    <main class="light-editor-container editor-container" id="editor-container">
        <div class="light-editor-header editor-header" id="editor-header">
            <h2 class="editor-title" id="editor-title">
                <label for="ace_text-input">Code Editor</label>
            </h2>
            <button class="btn run-btn" id="run-btn" onclick="run_code()" aria-controls="output-area">
                <i class="fas fa-play"></i>
                <label for="run-btn">Run Code</label>
            </button>
            <button class="btn clear-btn" id="clear-code-btn" onclick="clear_code()">
                <i class="fas fa-eraser"></i>
                <label for="clear-code-btn">Clear Code</label>
            </button>
        </div>
        <div class="code-container" id="editor" aria-labelledby="editor-title"></div>
    </main>

    <section class="bottom-area">
        <div class="light-input-container input-container" id="input-container">
            <div class="light-input-header input-header" id="input-header">
                <h2 class="input-title">
                    <label for="input-area">Inputs</label>
                </h2>
                <button class="btn clear-btn" id="clear-input-btn" onclick="clear_input()">
                    <i class="fas fa-eraser"></i>
                    <label for="clear-input-btn">Clear Inputs</label>
                </button>
            </div>
            <textarea class="input-area" id="input-area"></textarea>
        </div>
        <div class="light-output-container output-container" id="output-container">
            <div class="light-output-header output-header" id="output-header">
                <h2 class="output-title">
                    <label for="output-area">Output</label>
                </h2>
                <button class="btn clear-btn" id="clear-output-btn" onclick="clear_output()">
                    <i class="fas fa-eraser"></i>
                    <label for="clear-output-btn">Clear Output</label>
                </button>
            </div>
            <textarea class="output-area" id="output-area" aria-live="polite" readonly tabindex="-1"></textarea>
        </div>
    </section>

    <!-- Ace Editor Scripts -->
    <script src="../static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/ace/ext-language_tools.js"></script>
    <script src="../static/ace/ext-inline_autocomplete.js"></script>

    <!-- Main JS file -->
    <script src="../static/script.js"></script>

</body>
</html>