<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">  
    <title>Python Web IDE</title>
</head>
<body class="light-body" onload="document.querySelector('h1.title').focus();">
    <header class="light-banner header-container" id="banner" aria-labelledby="title">
        <h1 class="title" id="title">Python Web <abbr title="Integrated Development Environment" aria-label="Integrated Development Environment">IDE</abbr></h1>
        <button class="light-menu-btn menu-btn" id="menu-btn" onclick="show_menu()" aria-label="open menu">
            <label for="menu-btn">Menu</label>
            <i class="fas fa-bars" style="font-size: 32px"></i>
        </button>
    </header>

    <div id="menu-wrapper"></div>
    <div id="overlay"></div>

    <main class="light-editor-container editor-container" id="editor-container" aria-labelledby="editor-title">
        <div class="light-editor-header editor-header" id="editor-header">
            <h2 class="editor-title" id="editor-title">
                <label for="ace_text-input">Code Editor</label>
            </h2>
            <div class="btn control-btn" id="control-btn">
                <button class="btn run-btn" id="run-btn" onclick="run_code()" aria-controls="output-area">
                    <i class="fas fa-play" id="run-btn-icon"></i>
                    <label for="run-btn" id="run-btn-lbl">Run Code</label>
                </button>
            </div>
            <button class="btn clear-btn" id="clear-code-btn" onclick="clear_code()">
                <i class="fas fa-eraser"></i>
                <label for="clear-code-btn">Clear Code</label>
            </button>
        </div>
        <div class="code-container" id="editor" aria-label="code editor text input"></div>
    </main>

    <section class="bottom-area">
        <div class="light-input-container input-container" id="input-container" aria-labelledby="input-title">
            <div class="light-input-header input-header" id="input-header">
                <h2 class="input-title" id="input-title">
                    <label for="input-area">Inputs</label>
                </h2>
                <button class="btn clear-btn" id="clear-input-btn" onclick="clear_input()">
                    <i class="fas fa-eraser"></i>
                    <label for="clear-input-btn">Clear Inputs</label>
                </button>
            </div>
            <textarea class="input-area" id="input-area" aria-label="input area"></textarea>
        </div>
        <div class="light-output-container output-container" id="output-container" aria-labelledby="output-title">
            <div class="light-output-header output-header" id="output-header">
                <h2 class="output-title" id="output-title">
                    <label for="output-area">Output</label>
                </h2>
                <button class="btn clear-btn" id="clear-output-btn" onclick="clear_output()">
                    <i class="fas fa-eraser"></i>
                    <label for="clear-output-btn">Clear Output</label>
                </button>
            </div>
            <textarea class="output-area" id="output-area" aria-live="polite" aria-label="output area" readonly></textarea>
        </div>
    </section>

    <!-- Ace Editor Scripts -->
    <script src="../static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/ace/ext-language_tools.js"></script>
    <script src="../static/ace/ext-inline_autocomplete.js"></script>

    <!-- Main JS file -->
    <script src="../static/script.js"></script>

</body>
</html>